.popup_type_image {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup_opened {
  display: flex;
}

.popup__image-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.popup__caption {
  font-family: Inter;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.popup__close-button {
  position: absolute;
  right: -40px;
  top: -60px;
  background-image: url(../images/Close\ Icon.png);
  background-size: 40px 40px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.popup__close-button:hover {
  opacity: 50%;
}

@media screen and (max-width: 544px) {
  .popup__close-button {
    width: 30px;
    height: 30px;
    right: -30px;
    background-size: contain;
  }
}
