@import url(./blocks/page.css);
@import url(./blocks/body.css);
@import url(./blocks/header.css);
@import url(./blocks/profile.css);
@import url(./blocks/popup_edit-avatar.css);
@import url(./blocks/pop-up.css);
@import url(./blocks/add_pop-up.css);
@import url(./blocks/elements.css);
@import url(./blocks/image_pop-up.css);
@import url(./blocks/popup_type_confirmation.css);
@import url(./blocks/footer.css);
